.header {
    background-color: var(--bg-1);
    transition: all 0.5s;
}

.header-content {
    display: flex;
    width : 75rem;
    height: 4rem;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.header-content img {
    height: 3rem;
}

.non-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.header-links {
    display: flex;
    font-size: 1rem;
}