.header {
    background-color: var(--bg-1);
    transition: all 0.5s;
    height: 4rem;
    width: 100%;
    position: sticky;/* relative, tapi nempel */
    top: 0; /* harus kasih tahu dimano lokasi dio pas sticky agek */
    display: flex;
    justify-content: center;
}

.header-content {
    position: absolute;
    display: flex;
    width : 70rem;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.header-content img {
    height: 2.5rem;
}

.non-logo {
    display: flex;
    align-items: center;
}
.header-links {
    display: flex;
    font-size: 1rem;
}
.header-link {
    margin-right: 1rem;
}

@media screen and (max-width: 75rem) {
    .header-content {
        width: calc(100% - 80px);
    }
}
@media screen and (max-width: 33.75rem ) {
    .header-content {
        width: calc(100% - 24px);
    }
    .header-link {
        margin-right: .5rem;
    }
}