.infos {
  background-color: var(--bg-3);
  display: grid;
  min-width: 0;
  grid-template-columns: 0.2fr 1fr 1fr;
  gap: 5rem;
  padding: 30px 80px 80px 80px;
  text-align: left;
  font-size: 0.875rem;
  color: var(--fg-4);
  transition: all 0.5s;
}

.logo {
  width: 100%;
}

.about-page {
  padding: 0;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.125rem;
}

.subtitle {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.125rem;
}

a {
  color: var(--fg-4);
}

@media screen and (max-width: 860px) {
  .infos {
    grid-template-columns: 1fr;
    padding: 24px;
  }
  .logo {
    width: 100%;
  }
  .logo-wrapper {
    max-width: 4rem;
  }
}
