.infos {
    background-color: var(--bg-3);
    display: grid;
    grid-template-columns: 75px 1fr 1fr;
    gap: 5rem;
    padding: 50px 50px 100px 100px;
    text-align: left;
    font-size: 0.875rem;
    color: var(--fg-4);
    transition: all 0.5s;
} 

.logo {
    width: 100%;
}

.about-page {
    display: block;
    padding: 0;
}

.about-me {
    display: block;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.125rem;
}

@media screen and (max-width: 48rem) {
    .infos {
        grid-template-columns: 1fr;
        padding: 40px;
    }
    .logo {
        width: 4rem;
    }
}