.App {
  text-align: center;
  background-color: var(--bg-1);
  color: var(--fg-1);
  transition: all .5s;
}

a {
  text-decoration: none;
  color: var(--fg-1);
}

a:hover {
  color: var(--link);
  transition: .2s;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.no-select:focus {
  outline: none !important;
}