.App {
  text-align: center;
  background-color: var(--bg-1);
  color: var(--fg-1);
  transition: all .5s;
}

a {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--fg-1);
}

a:hover {
  color: var(--link);
}

.noSelect, a {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.noSelect:focus {
  outline: none !important;
}